/* General styles */
:root {
	--cyan: hsl(179, 62%, 43%);
	--bright-yellow: hsl(71, 73%, 54%);
	--light-grey: hsl(204, 43%, 93%);
	--greyish-blue: hsl(218, 22%, 67%);
}

html {
	block-size: 100%;
}

body {
	display: grid;
	justify-items: center;
	min-block-size: 100%;
	background-color: var(--light-grey);
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

.component,
footer {
	max-inline-size: 600px;
}

.component {
	inline-size: 90%;
	align-self: center;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid blue;
}

.component p {
	line-height: 1.5;
}

/* card styles */
section:first-child {
	padding: 1.1rem;
	color: var(--greyish-blue);
	background-color: #fff;
}

h1 {
	font-size: 1.5rem;
	color: var(--cyan);
}

section > h2 {
	color: var(--bright-yellow);
}

h2 {
	font-size: 1.17rem;
	color: #fff;
}

section:nth-child(2) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	color: #fff;
}
